@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,500&family=Open+Sans:wght@300&family=PT+Serif&display=swap);
* {
  margin: 0;
  padding: 0;
}

/*header*/
.bc-nati {
  background-color: rgba(35, 40, 48, 0.6666666667);
}
.bc-nati .contenedor__header__logo {
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 40px;
  color: #97CA2D;
  padding: 5px 30px;
}
.bc-nati .contenedor__header__link {
  font-family: "JetBrains Mono", monospace;
  color: white;
  font-size: 18px;
}
.bc-nati .contenedor__header__link:hover {
  color: #97CA2D;
}

/*inicio*/
.contenedor {
  display: flex;
  align-items: center;
}
.contenedor .contenedor__home__foto {
  width: 100%;
  height: 100%;
}
.contenedor .contenedor__home__foto:hover {
  transform: scale(1);
}

/*quienes somos*/
.contenedor__equipo h1 {
  font-family: "Lexend Deca", sans-serif;
  color: #97CA2D;
  text-align: center;
  font-size: 40px;
}
.contenedor__equipo .contenedor__equipo__parrafo {
  color: white;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-size: medium;
}
.contenedor__equipo .contenedor__equipo__parrafo1 {
  color: white;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-size: medium;
}
.contenedor__equipo .contenedor__equipo__galeria {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*display: flex;*/
  flex-direction: row-reverse;
  /*justify-content:space-evenly;*/
}
.contenedor__equipo .contenedor__equipo__galeria .equipo__galeria__imagen {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
}

/*Servicios*/
.contenedor__servicios__lista {
  font-family: "JetBrains Mono", monospace;
  color: white;
  text-align: left;
  font-size: medium;
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-around;
}

/*Contacto*/
.contenedor__contacto .contenedor__contacto__info {
  font-family: "JetBrains Mono", monospace;
  color: white;
  text-align: center;
  font-size: medium;
  list-style: none;
}
.contenedor__contacto .contenedor__contacto__info .contacto__info__ubicacion {
  width: 30px;
}
.contenedor__contacto .contenedor__formulario { /*flex-direction:column y alig-items:center*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor__contacto .contenedor__formulario .formulario {
  display: flex;
  font-family: "JetBrains Mono", monospace;
  color: white;
  text-align: left;
  font-size: medium;
  margin: 20px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}
.contenedor__contacto .contenedor__formulario .formulario .formulario__leyenda {
  text-align: center;
  font-size: 20px;
}
.contenedor__contacto .contenedor__formulario .formulario .marca_auto {
  text-align: center;
}
.contenedor__contacto .contenedor__formulario .formulario .enviar-formulario {
  display: inline-block;
}
.contenedor__contacto .contenedor__formulario .formulario .limpiar-formulario {
  display: inline-block;
}

.contenedor__contacto .contenedor__formulario .formulario input, .contenedor__contacto .contenedor__formulario .formulario .enviar-formulario, .contenedor__contacto .contenedor__formulario .formulario .limpiar-formulario {
  background-color: white;
  border-radius: 10px;
  width: 60vh;
  height: 7vh;
}

.contenedor__contacto .contenedor__formulario .formulario .marca_auto {
  background-color: white;
  border-radius: 10px;
  width: 20vh;
  height: 7vh;
}

/*footer*/
.contenedor__piedepagina {
  background-color: rgba(35, 40, 48, 0.6666666667);
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
}
.contenedor__piedepagina .contenedor__piedepagina__lista {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  width: 100%;
  padding: 1em;
}
.contenedor__piedepagina .contenedor__piedepagina__lista .contenedor__piedepagina__lista__imagen {
  width: 2rem;
}
.contenedor__piedepagina .contenedor__piedepagina__lista .contenedor__piedepagina__lista__link {
  color: #fff;
  text-decoration: none;
}

body {
  background-color: #000;
}

h2 {
  font-family: "JetBrains Mono", monospace;
  color: #97CA2D;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
