@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,500&family=Open+Sans:wght@300&family=PT+Serif&display=swap);
* {
  margin: 0;
  padding: 0;
}

/*header*/
.bc-nati {
  background-color: rgba(35, 40, 48, 0.6666666667);
}
.bc-nati .contenedor__header__logo {
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 40px;
  color: #97CA2D;
  padding: 5px 30px;
}
.bc-nati .contenedor__header__link {
  font-family: "JetBrains Mono", monospace;
  color: white;
  font-size: 18px;
}
.bc-nati .contenedor__header__link:hover {
  color: #97CA2D;
}

/*inicio*/
/* .contenedor{
   display: flex; 
   align-items: center;


   .contenedor__home__foto {
     width: 100%;
     height: 100%;


  }

  }
 */
.contenedor__home {
  width: 98%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.contenedor__home:before, .contenedor__home:after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 4px;
  background: white;
  transition: all 3s;
}
.contenedor__home:before {
  left: -100%;
  top: 10px;
}
.contenedor__home:after {
  left: 100%;
  bottom: 10px;
}
.contenedor__home:hover:before, .contenedor__home:hover:after {
  left: 15px;
}
.contenedor__home .contenedor__home__foto {
  width: 100%;
}
.contenedor__home .contenedor__home__logo {
  position: absolute;
  transition: all 0.6s;
  transform: scale(1.5);
  opacity: 0;
}
.contenedor__home:hover .contenedor__home__logo {
  transform: scale(1);
  opacity: 1;
}

@media (max-width: 767.98px) {
  .contenedor__home__logo {
    width: 95px;
    height: 95px;
  }
}
/*quienes somos*/
.contenedor__equipo h1 {
  font-family: "Lexend Deca", sans-serif;
  color: #97CA2D;
  text-align: center;
  font-size: 40px;
}
.contenedor__equipo .contenedor__equipo__parrafo {
  color: white;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-size: medium;
}
.contenedor__equipo .contenedor__equipo__parrafo1 {
  color: white;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-size: medium;
}
.contenedor__equipo .contenedor__equipo__galeria {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*display: flex;*/
  flex-direction: row-reverse;
  /*justify-content:space-evenly;*/
}
.contenedor__equipo .contenedor__equipo__galeria .equipo__galeria__imagen {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
}

/*Servicios*/
.contenedor__servicios__lista {
  font-family: "JetBrains Mono", monospace;
  color: white;
  text-align: left;
  font-size: medium;
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .contenedor__servicios__lista {
    flex-direction: column;
  }
}
/*Contacto*/
.contenedor__contacto .contenedor__contacto__info {
  font-family: "JetBrains Mono", monospace;
  color: white;
  text-align: center;
  font-size: medium;
  list-style: none;
}
.contenedor__contacto .contenedor__contacto__info .contacto__info__ubicacion {
  width: 30px;
}
.contenedor__contacto .whatsapp {
  display: flex;
  justify-content: right;
}
.contenedor__contacto .whatsapp__imagen {
  position: fixed;
  width: 70px;
  height: 70px;
  right: 15px;
  bottom: 2rem;
  z-index: 100;
}
@media (max-width: 767px) {
  .contenedor__contacto .whatsapp__imagen {
    width: 50px;
    height: 50px;
  }
}
.contenedor__contacto .contenedor__formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor__contacto .contenedor__formulario .formulario {
  display: flex;
  font-family: "JetBrains Mono", monospace;
  color: white;
  text-align: left;
  font-size: medium;
  margin: 30px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /*  .formulario__leyenda{
       text-align: center;
       font-size: 20px;
    } */
}
.contenedor__contacto .contenedor__formulario .formulario ul {
  list-style-type: none;
}
.contenedor__contacto .contenedor__formulario .formulario .marca_auto {
  text-align: center;
}
.contenedor__contacto .contenedor__formulario .formulario .textarea {
  /* border-radius: 10px;
   width: 45vh;
   height: 10vh;*/
}
.contenedor__contacto .contenedor__formulario .formulario .enviar-formulario {
  display: inline-block;
}

.contenedor__contacto .contenedor__formulario .formulario input, .contenedor__contacto .contenedor__formulario .formulario .textarea {
  background-color: rgba(35, 40, 48, 0.3254901961);
  color: white;
  border-style: inset;
  border-radius: 10px;
  border-color: white;
  width: 45vh;
  height: 6vh;
}

.contenedor__contacto .contenedor__formulario .formulario .marca_auto, .contenedor__contacto .contenedor__formulario .formulario .enviar-formulario {
  background-color: rgba(35, 40, 48, 0.3254901961);
  color: white;
  border-style: inset;
  border-radius: 10px;
  border-color: white;
  width: 20vh;
  height: 6vh;
}

/*footer*/
.contenedor__piedepagina {
  background-color: rgba(35, 40, 48, 0.6666666667);
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
}
.contenedor__piedepagina .contenedor__piedepagina__lista {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  width: 100%;
  padding: 1em;
}
.contenedor__piedepagina .contenedor__piedepagina__lista .contenedor__piedepagina__lista__imagen {
  width: 2rem;
}
.contenedor__piedepagina .contenedor__piedepagina__lista .contenedor__piedepagina__lista__link {
  color: #fff;
  text-decoration: none;
}

body {
  background-color: #000;
}

h2 {
  font-family: "JetBrains Mono", monospace;
  color: #97CA2D;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  font-size: 20px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
