%botones {
    background-color: white;
    border-radius: 10px;
    width: 60vh;
    height: 7vh;

}

%botones2 {
    background-color: white;
    border-radius: 10px;
    width: 20vh;
    height: 7vh;

}
