%botones {
    background-color: white;
    border-radius: 10px;
    width: 45vh;
    height: 6vh;

}

%botones2 {
    background-color: white;
    border-radius: 10px;
    width: 20vh;
    height: 6vh;

}
