  /*Contacto*/
  .contenedor__contacto{
      
   h3 {
      font-family: 'JetBrains Mono', monospace; 
      text-align: center;
      font-size: 20px;
      color:white;
     }
   .contenedor__contacto__info {
      font-family: 'JetBrains Mono', monospace;
      color:white;
      text-align:center;
      font-size: medium;
      list-style: none;

      .contacto__info__ubicacion {
         width: 30px;
      }
   }

   .whatsapp{
      display: flex;
      justify-content: right;
       
   }
     
   .whatsapp__imagen{
      position:fixed;
      width: 70px;
      height: 70px;
      right: 15px;
      bottom: 2rem;
      z-index: 100;
   }
   @media (max-width:767px){
      .whatsapp__imagen{
          width: 50px;
          height: 50px;
      } 
    }


   .contenedor__formulario{ 
     display: flex;
     flex-direction:column;
     align-items:center;
    

      .formulario{
         display:flex;
         font-family: 'JetBrains Mono', monospace;
         color:white;
         text-align:left;
         font-size: medium;
         margin: 30px;
         padding: 20px;
        
         flex-direction:column;
         align-items: center;
         text-align: center;
          
         
      
         ul{
           list-style-type: none;
         }


         input{
         
            @extend %botones;
            
         }

         .marca_auto{
            text-align: center;
            @extend %botones2;
         }

         .textarea{
            @extend %botones;
          
         }

         .enviar-formulario {
            display:inline-block;
           @extend %botones2;
         }
          
      
      }

   }
  
 
}

  
  
   