
 /*header*/
  

.bc-nati{
   background-color:#232830aa ;
   
   .contenedor__header__logo{
   font-family: 'Lexend Deca', sans-serif;;
   font-weight: bold;
   text-decoration: none;
   font-size: 40px ;
   color: #97CA2D;
   padding: 5px 30px;


   }

   .contenedor__header__link{
   font-family: 'JetBrains Mono', monospace;
   color: white;
   font-size: 18px;

   }
  .contenedor__header__link:hover{
   color:#97CA2D;
  }

}

 