  /*inicio*/
  .contenedor{
    display: flex; 
    align-items: center;
    

    .contenedor__home__foto {
      width: 100%;
      height: 100%;

   }
   .contenedor__home__foto:hover{
     transform: scale(1);
   }
  
  }

   
   
 
  
  