 /*Servicios*/
  
 .contenedor__servicios__lista{
    font-family: 'JetBrains Mono', monospace;
    color:white;
    text-align:left;
    font-size: medium;
    list-style: none;
    text-align:left;

    display: flex;
    justify-content:space-around;
}

@media (max-width:600px){
    .contenedor__servicios__lista{
        flex-direction: column;
    
    }
   
}

.contenedor__equipo2__galeria__imagen{
    display: flex;
    align-items: center;
}