 /*quienes somos*/

 .contenedor__equipo{
  h1 {
    font-family: 'Lexend Deca', sans-serif;
    color: #97CA2D;
    text-align: center;
    font-size: map-get($letra, tamano);
    
  }
   .contenedor__equipo__parrafo{
      color:white;
      text-align: center;
      font-family: 'JetBrains Mono', monospace;
      font-size: medium;
    
   }
  
    .contenedor__equipo__parrafo1{
  
      color:white;
      text-align: center;
      font-family: 'JetBrains Mono', monospace;
      font-size: medium;
    }
   
    .contenedor__equipo__galeria{
      @include img (flex,space-evenly);
      width: 100%;
      height: 100%;
      object-fit: cover;
      
      flex-direction:row-reverse;
     
      
    
      .equipo__galeria__imagen{
        height: 15rem;   
        width: 15rem;
        object-fit: cover;
       }
    
    }
 
 }


  
  